##This file is for the people who want to setup this project to their system when they clone the repo.Using this file
they will come to know what they neccessary to run the project

SECRET_KEY = 
DEBUG = True

## database configuration

DB_NAME = 
DB_USER = 
DB_PASSWORD = 
